fastapi==0.105.0
uvicorn[standard]==0.17.*
regex==2023.10.3
httptools==0.6.1
python-multipart==0.0.5
python-jose[cryptography]==3.3.0
passlib[bcrypt] == 1.7.4
Faker
advanced_sqlalchemy_manager==0.1.1
fastapi-pagination
passlib==1.7.4
pydantic==2.5.2
python_jose==3.3.0
SQLAlchemy==2.0.23
SQLAlchemy_Utils==0.41.1
pymysql==1.0.2
azure-storage-blob
azure-eventhub
python-multipart
sqlalchemy-utils
Jinja2
pydantic[email]
pydantic_extra_types
pyodbc
pytz
httpx
python-dotenv

